.left-area,
.right-area {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.left-area {
  left: 0;
}

.middle-area {
  margin: 0 25%; /* Same as the width of the sidenav */ /* Same as the width of the sidenav */
  width: 50%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.right-area {
  right: 0;
}

.online-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}

.online-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.online-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e3e6e9;
}
